# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 4. How many products cost more than $10.00?

In [4]:
x = '$2.39'
turn_price = lambda x: float(x[1:])
turn_price(x)

2.39

In [5]:
chipo['item_price'] = chipo.item_price.apply(turn_price)

In [13]:
chipo = chipo.rename(columns={'item_price':'new_item_price'})
chipo.head()

,order_id,quantity,item_name,choice_description,new_item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [32]:
chipo['price_per_unit'] = chipo.new_item_price / chipo.quantity

In [33]:
avarage_price = chipo.groupby('item_name').price_per_unit.mean()

In [34]:
avarage_price[avarage_price>10].count()

10

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [36]:
chipo.iloc[:,2:5:2].sort_values(by='item_name')

              item_name  new_item_price
3389  6 Pack Soft Drink           12.98
341   6 Pack Soft Drink            6.49
1849  6 Pack Soft Drink            6.49
1860  6 Pack Soft Drink            6.49
2713  6 Pack Soft Drink            6.49
...                 ...             ...
2384  Veggie Soft Tacos            8.75
781   Veggie Soft Tacos            8.75
2851  Veggie Soft Tacos            8.49
1699  Veggie Soft Tacos           11.25
1395  Veggie Soft Tacos            8.49

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [31]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [52]:
#tim sp dat nhat, tim so luong sp dat nhat ban dc
most_expen = chipo.nlargest(1,'price_per_unit',keep='all').item_name.unique()
chipo[chipo.item_name.isin(most_expen)].groupby('item_name').quantity.sum()

item_name
Barbacoa Salad Bowl    10
Carnitas Salad Bowl     6
Steak Salad Bowl       31
Name: quantity, dtype: int64

In [60]:
#ham query dung bien ben ngoai them @ de refer den bien ben ngoai
chipo.query("item_name in @most_expen").groupby('item_name').quantity.sum()

item_name
Barbacoa Salad Bowl    10
Carnitas Salad Bowl     6
Steak Salad Bowl       31
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [69]:
chipo.query('item_name == "Veggie Salad Bowl"').order_id.nunique()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [67]:
chipo.query('item_name == "Canned Soda" & quantity > 1').order_id.nunique()

18