In [1]:
import numpy as np
import pandas as pd

In [2]:
dt = pd.read_csv('sample_data.csv')

In [3]:
dt.head()

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0

In [4]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5263298 entries, 0 to 5263297
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   account_id         int64
 1   ad_id              int64
 2   event_name         object
 3   timestamp          object
 4   platform           object
 5   category_name      object
 6   region_name        object
 7   condition_ad_name  object
 8   price              float64
dtypes: float64(1), int64(2), object(6)
memory usage: 361.4+ MB

### 1- How many distinct account_id on each platform?\
### 2- How many distinct ad_id on each platform?

In [5]:
dt.groupby('platform').account_id.nunique()

platform
android         10789
desktop_web     11910
ios             10773
mobile_web       6154
on_behalf          36
unknown        108990
Name: account_id, dtype: int64

In [6]:
dt.groupby('platform').ad_id.nunique()

platform
android         130551
desktop_web     144673
ios             144161
mobile_web       40165
on_behalf           82
unknown        3669226
Name: ad_id, dtype: int64

### 3- For each category_name how many ad is advertised?

In [7]:
dt.groupby('category_name').ad_id.count()

category_name
Accessories                    121942
Aircon                            275
Bags                            10470
Bed & bedding                     453
Bicycles                        23474
                                ...
Trucks                          52772
Vehicles parts, Accessories     56459
Video games                       662
Washing machine                   202
Watch                           74707
Name: ad_id, Length: 64, dtype: int64

### 4- Give me top 5 category_name having the highest number of ads?

In [8]:
dt.groupby('category_name').ad_id.count().sort_values(ascending=False).head(5)

category_name
PTY-Houses            842357
Mobile Phones         781435
Motorbikes            528333
PTY-Land              415120
Computers, Laptops    351123
Name: ad_id, dtype: int64

### 5- Give me top 5 category_name having lowest number of ads?

In [9]:
dt.groupby('category_name').ad_id.count().sort_values().head(5)

category_name
Lighting                           9
Fan                               12
Other pet                         36
Ornamental plant & decoration     41
Other household items 14110      139
Name: ad_id, dtype: int64

### 6- Give me the average price for all distinct ads within each category?

In [16]:
dt.groupby('category_name').price.mean()

category_name
Accessories                    8.808542e+06
Aircon                         5.913818e+06
Bags                           8.026387e+07
Bed & bedding                  1.482936e+06
Bicycles                       3.262726e+06
                                   ...
Trucks                         6.693941e+08
Vehicles parts, Accessories    1.141225e+08
Video games                    2.210399e+06
Washing machine                1.349307e+07
Watch                          3.596161e+07
Name: price, Length: 64, dtype: float64

### 7- Give me the average price for all distinct ads within each region_name?

In [17]:
dt.groupby('region_name').price.mean()

region_name
Bình Trị Thừa Thiên Huế         4.143188e+08
Các tỉnh lân cận Hà Nội         3.186963e+08
Cần Thơ - Tây Nam Bộ            4.101916e+08
Hà Nội                          6.645161e+08
Hải Phòng Nam Định Thái Bình    1.573403e+08
Nam Trung Bộ                    9.059112e+08
Quảng Nam Đà Nẵng               9.412990e+08
Thanh Nghệ Tĩnh                 2.442715e+08
Tp Hồ Chí Minh                  1.302872e+09
Tây Bắc Bộ                      3.616878e+08
Tây Nguyên                      6.075989e+08
Đông Bắc Bộ                     2.312546e+08
Đông Nam Bộ                     7.097406e+08
Name: price, dtype: float64

### 8- Give details of condition_ad_name for all ads within each category? For example, for category cars, how may ads is 'Moi', 'Da su dung', and 'NaN'

In [18]:
dt.groupby(['category_name','condition_ad_name']).ad_id.count()

category_name    condition_ad_name
Accessories      Mới                   2412
                 Đã sử dụng           23379
Aircon           Mới                      6
                 Đã sử dụng             269
Bags             Mới                   6635
                                      ...
Video games      Mới                     85
                 Đã sử dụng             330
Washing machine  Đã sử dụng             202
Watch            Mới                  27039
                 Đã sử dụng           47584
Name: ad_id, Length: 106, dtype: int64

### 9 - Which month in 2018 we see the highest number of (distinct ads)?

In [80]:
dt['timestamp'] = pd.to_datetime(dt['timestamp'], format='%Y-%m-%d %H:%M:%S.%f')
dt.head()

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0

In [20]:
dt['year'] = pd.DatetimeIndex(dt['timestamp']).year
dt['month'] = pd.DatetimeIndex(dt['timestamp']).month
dt['hour'] = pd.DatetimeIndex(dt['timestamp']).hour

In [21]:
dt.head()

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price,year,month,hour
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0,2018,5,17
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,2018,5,16
2,2753457128963724056,-6487219347028929285,order,2018-05-03 15:13:42.447070,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0,2018,5,15
3,-4397739266189556976,4054922453976773054,order,2018-05-23 11:15:25.932663,on_behalf,Cars,Hà Nội,Mới,705000000.0,2018,5,11
4,-8143274583979068266,3202538754056800998,order,2018-05-15 17:53:01.634923,on_behalf,Cars,Hà Nội,Mới,696000000.0,2018,5,17

In [29]:
dt.query('year==2018').groupby('month').ad_id.count().nlargest(1)

month
1    874485
Name: ad_id, dtype: int64

### 10- Compare the distinct ads per hour in September, October, and November? Which month and which hour has top ads

In [56]:
sept = dt.query('month==9').groupby('hour').ad_id.count().values

In [57]:
octo = dt.query('month==10').groupby('hour').ad_id.count().values

In [58]:
nove = dt.query('month==11').groupby('hour').ad_id.count().values

In [69]:
dict1 = {'September': sept,
       'October': octo,
       'November':nove}
dict1

{'September': array([ 1453,   641,   378,   278,   324,  1423,  5105, 15948, 34236,
        40947, 37568, 30265, 21363, 21565, 25774, 24225, 21324, 17154,
        13350, 11341,  9876,  7966,  5815,  3099], dtype=int64),
 'October': array([ 1571,   746,   379,   264,   331,  1214,  5602, 16854, 35585,
        43892, 40429, 31282, 22300, 22665, 27706, 25678, 22618, 18299,
        13499, 12360, 10568,  8438,  5804,  3257], dtype=int64),
 'November': array([ 1441,   601,   332,   203,   604,  1160,  4731, 15674, 34282,
        40891, 38440, 30038, 21596, 21621, 26222, 24750, 21369, 17230,
        12910, 11323,  9931,  7856,  5527,  3137], dtype=int64)}

In [73]:
indices = [f'{i}h' for i in range(0, 24)]
df_1 = pd.DataFrame(dict1,index=indices)

In [74]:
df_1

     September  October  November
0h        1453     1571      1441
1h         641      746       601
2h         378      379       332
3h         278      264       203
4h         324      331       604
5h        1423     1214      1160
6h        5105     5602      4731
7h       15948    16854     15674
8h       34236    35585     34282
9h       40947    43892     40891
10h      37568    40429     38440
11h      30265    31282     30038
12h      21363    22300     21596
13h      21565    22665     21621
14h      25774    27706     26222
15h      24225    25678     24750
16h      21324    22618     21369
17h      17154    18299     17230
18h      13350    13499     12910
19h      11341    12360     11323
20h       9876    10568      9931
21h       7966     8438      7856
22h       5815     5804      5527
23h       3099     3257      3137

In [80]:
df_1.September.nlargest(1)

9h    40947
Name: September, dtype: int64

In [81]:
df_1.October.nlargest(1)

9h    43892
Name: October, dtype: int64

In [82]:
df_1.November.nlargest(1)

9h    40891
Name: November, dtype: int64